In [3]:
import pandas as pd
"""Series 一维 带标签的数组"""
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
"""类型"""
t=pd.Series([1,2,3,4,5])
type(t)

pandas.core.series.Series

In [5]:
"""指定索引,list类型"""
t1=pd.Series([1,2,3,4,5],index=list("abcde"))
t1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
"""通过字典创建"""
temp_dict={"name":"carl","age":30,"tel":10086}
t2=pd.Series(temp_dict)
t2

name     carl
age        30
tel     10086
dtype: object

In [7]:
"""修改dtype,astype返回一个新的Series"""
t1.astype(float)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [8]:
"""Series的切片和索引"""
t2.iloc[1],t2.iloc[0],t2

(30,
 'carl',
 name     carl
 age        30
 tel     10086
 dtype: object)

In [24]:
t2.index,type(t2.index)

(RangeIndex(start=0, stop=3, step=1), pandas.core.indexes.range.RangeIndex)

In [ ]:
for i in t2.index:
    print(i)

In [ ]:
t2.values,type(t2.values),

In [25]:
"""DataFrame,二维Series容器"""
import numpy as np
t=pd.DataFrame(np.arange(12).reshape(3,4))
t

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [26]:
"""竖着的一列是行索引，index;横着的一行是列索引，columns"""
t.columns,t.index

(RangeIndex(start=0, stop=4, step=1), RangeIndex(start=0, stop=3, step=1))

In [ ]:
pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("wxyz"))

In [ ]:
d1={"name":["xiaoming","xiaogang"],"age":[20,30],"tel":[10086,10010]}
t1=pd.DataFrame(d1)
t1

In [ ]:
type(t1)

In [11]:
d2=[{"name":"carl","age":32,"tel":10010},{"name":"xiaoming","age":20,"tel":10086},
    {"name":"xiaohong","age":22,"tel":10021}]
t2=pd.DataFrame(d2)
t2

       name  age    tel
0      carl   32  10010
1  xiaoming   20  10086
2  xiaohong   22  10021

In [12]:
"""DataFrame的操作"""
t2.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
t2.columns

Index(['name', 'age', 'tel'], dtype='object')

In [14]:
t2.values

array([['carl', 32, 10010],
       ['xiaoming', 20, 10086],
       ['xiaohong', 22, 10021]], dtype=object)

In [15]:
t2.shape

(3, 3)

In [16]:
t2.dtypes

name    object
age      int64
tel      int64
dtype: object

In [19]:
"""数据的维度"""
t2.ndim

2

In [20]:
"""显示前几行"""
t2.head(1)

   name  age    tel
0  carl   32  10010

In [21]:
"""显示后几行"""
t2.tail(2)

       name  age    tel
1  xiaoming   20  10086
2  xiaohong   22  10021

In [28]:
"""显示区域信息"""
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   tel     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [29]:
"""显示数据统计信息"""
t2.describe()

             age           tel
count   3.000000      3.000000
mean   24.666667  10039.000000
std     6.429101     41.073106
min    20.000000  10010.000000
25%    21.000000  10015.500000
50%    22.000000  10021.000000
75%    27.000000  10053.500000
max    32.000000  10086.000000